/* 
    @ 规则
        @charset   设置样式表的编码
        @import    带入其他样式文件
        @meida     媒体查询
        @font-face 自定义字体

*/
@charset 'utf8';
@import 'reset.css';
@font-face {
    font-family: 'iconfont';
    src: url('../font/iconfont.eot');
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
        url('../font/iconfont.woff2') format('woff2'),
        url('../font/iconfont.woff') format('woff'),
        url('../font/iconfont.ttf') format('truetype'),
        url('../font/iconfont.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* 头部信息 */

#headmessage li{
    float: left;
    line-height: 35px;
    padding: 0 6px;
}

#headmessage li a{
    color: #6c6c6c;
}
#headmessage li a:hover{
    color: #f40;
}

#headmessage li a.login{
    color: #f22e00;
}
#headmessage span{
    font-size: 12px;
}
#headmessage span.arrow{
   margin-left: 7px;
}
#headmessage strong{
    font-size: 12px;
    color: #f22e00;
}
